<h2>Sign up</h2>

<script>
  // I am not front-end, this is not rught but it works
  document.addEventListener("turbo:load", function() {
    const submitButton = document.getElementById("submit_button");
    const locationMessage = document.getElementById("location_message");
    const latitudeField = document.getElementById("location_attributes_latitude");
    const longitudeField = document.getElementById("location_attributes_longitude");

    if (!latitudeField || !longitudeField) return;

    const enableSubmit = () => {
      submitButton.disabled = false;
      locationMessage.style.display = "none";
    }

    if (latitudeField.value && longitudeField.value) {
      enableSubmit();
    }
    else {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          latitudeField.value = position.coords.latitude;
          longitudeField.value = position.coords.longitude;

          enableSubmit();
        });
      }
    }
  });
</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :sitter, "I'm a sitter" %><br />
    <%= f.check_box :sitter, id: "sitter_checkbox" %>
  </div>

  <div id="sitter_fields" data-controller="sitter-fields" style="display: none;">
      <%= f.fields_for :sitter_profile_attributes do |location_fields| %>
          <div class="field">
            <%= location_fields.label 'Rate per hour' %><br />
            <%= location_fields.text_field :rate %>
          </div>
          <div class="field">
            <%= location_fields.label 'Accepted pets' %><br />
            <%= location_fields.collection_check_boxes(:species_ids, Specie.all.order(name: :asc), :id, :name) %>
          </div>
          <div class="field">
            <%= location_fields.label 'Description' %><br />
            <%= location_fields.text_area(:description) %>
          </div>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :profile_image %>
    <%= f.file_field :profile_image %>
  </div>

  <%= f.fields_for :location_attributes do |location_fields| %>
    <%= location_fields.hidden_field :latitude, id: "location_attributes_latitude" %>
    <%= location_fields.hidden_field :longitude, id: "location_attributes_longitude" %>
  <% end %>

  <div id="location_message" style="color: red; margin-top: 10px;">
    You need to allow your location to complete the signup.
  </div>

  <div class="actions">
    <%= f.submit "Sign up", id: "submit_button", disabled: true %>
  </div>
<% end %>

<script type="text/javascript">
  var checkbox = document.getElementById('sitter_checkbox');
  var sitter_details = document.getElementById('sitter_fields');

  checkbox.onchange = function() {
    if(this.checked) {
      sitter_details.style['display'] = 'block';
    } else {
      sitter_details.style['display'] = 'none';
    }
  };
</script>

<%= render "devise/shared/links" %>
