<h1>Pets</h1>
<%= link_to 'New Pet', new_pet_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Specie</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.specie.name if pet.specie %></td>
        <td><%= pet.owner.name if pet.owner %></td>
        <td><%= link_to 'Show', pet_path(pet) %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to "Delete", pet_path(pet), data: { turbo_method: "delete" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
