<h1>New Pet</h1>

<%= form_with(model: @pet, local: true) do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
      <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :specie_id, "Specie" %>
    <%= form.collection_select :specie_id, @species, :id, :name %>
  </div>

  <div>
    <%= form.label :owner_id, "Owner" %>
    <%= form.collection_select :owner_id, @owners, :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', pets_path %>
