<div class="my-lg-5">
  <div>
    <div class="profile-image mb-3" style="margin-left: 10%">
      <% if @owner.profile_image.attached? %>
        <%= image_tag @owner.profile_image, class: "img-thumbnail" %>
      <% else %>
        <%= image_tag 'no-image-profile.png', size: "50x50", class: "img-thumbnail" %>
      <% end %>
    </div>
    <h1 class="title"><%= @owner.name %></h1>
    <p>
      <strong>Name:</strong>
      <%= @owner.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @owner.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @owner.phone %>
    </p>
  </div>

  <h1 class="title mt-lg-5">Pets</h1>
  <div class="container">
    <div class="row ">  <!-- Change "raw" to "row" -->
      <% @owner.pets.first(6).each do |pet| %>
        <div class="col-lg-2 col-md-4 col-sm-6">  <!-- Adjust column classes -->
          <a href="<%= pet_sitter_pet_path(pet) %>" class="text-decoration-none">
            <div class="card nearest-card">
              <% if pet.image.attached? %>  <!-- Use pet instead of @person -->
                <%= image_tag pet.image, alt: pet.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
              <% else %>
                <%= image_tag 'no-image-profile.png', alt: pet.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
              <% end %>
              <div class="card-body text-center">
                <h5 class="card-title"><%= pet.name %></h5>
                <div class="star-rating">
                  <p class="card-text"><span class="fa fa-star checked"></span> 4.5</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>