<h1 class="title">Edit Profile</h1>

<%= form_with model: @person, url: person_path, local: true do |form| %>
  <% if @person.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :sitter, class: "form-check-label" %>
    <%= form.check_box :sitter, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= form.label :profile_image, class: "form-label" %>
    <%= form.file_field :profile_image, class: "form-control" %>
  </div>

  <% if @person.sitter? %>
    <%= form.fields_for :sitter_profile_attributes, @person.sitter_profile do |sitter_fields| %>
      <div class="mb-3">
        <%= sitter_fields.label :rate, class: "form-label" %>
        <%= sitter_fields.text_field :rate, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= sitter_fields.label :description, class: "form-label" %>
        <%= sitter_fields.text_field :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= sitter_fields.label 'Accepted pets', class: "form-label" %><br />
        <%= sitter_fields.collection_check_boxes(:species_ids, Specie.all.order(name: :asc), :id, :name, { class: "form-check-input" }) %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update Profile', class: 'btn btn-primary' %>
    <%= link_to 'Back', me_person_path, class: 'btn btn-secondary' %>
  </div>
<% end %>


