<h1>My Profile</h1>

<div class="profile-image">
  <% if @person.profile_image.attached? %>
    <%= image_tag @person.profile_image %>
  <% else %>
    <%= image_tag 'no-image-profile.png', size: "50x50", class: "profile-image" %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= @person.sitter ? "Yes" : "No" %>
</p>

<%= link_to 'Edit Profile', edit_person_path %>
