<h1>My Profile</h1>

<div class="profile-image">
  <% if @person.profile_image.attached? %>
    <%= image_tag @person.profile_image %>
  <% else %>
    <%= image_tag 'no-image-profile.png', size: "50x50", class: "profile-image" %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<% if @person.sitter? && @person.sitter_profile %>
  <p>
    <strong>Description:</strong>
    <%= @person.sitter_profile.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @person.sitter_profile.rate %>
  </p>

  <p>
    <strong>Preferred Species:</strong>
    <%= @person.sitter_profile.species.map { |s| s.name.capitalize }.join(', ') %>
  </p>


<% end %>

<p>
  <strong>Location:</strong>
  <%= @person.location.latitude %>,
  <%= @person.location.longitude %>
</p>


<%= link_to 'Edit Profile', edit_person_path %>
