<h1 class="title bigger-title">Hey <%= @person.name%></h1>
<p class="title-paragraph">Find the perfect sitter near you for Finn!</p>

<h1 class="title">Nearest Sitters</h1>
<div class="container">
  <div class="row">  <!-- Change "raw" to "row" -->
    <% @closest_sitters.each do |sitter| %>
      <div class="col-lg-2 col-md-4 col-sm-6">  <!-- Adjust column classes -->
        <a href="<%= sitter_path(sitter) %>" class="text-decoration-none">
          <div class="card card-closest-sitters">
            <% if sitter.profile_image.attached? %>  <!-- Use sitter instead of @person -->
              <%= image_tag sitter.profile_image, alt: sitter.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
            <% else %>
              <%= image_tag 'no-image-profile.png', alt: sitter.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
            <% end %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= sitter.name %></h5>
              <p class="card-text"><%= "#{number_with_precision(sitter.distance, precision: 2)} KMs away" %></p>
              <div class="star-rating">
                <p class="card-text"><span class="fa fa-star checked"></span> 4.5</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<h1 class="title">Explore All Sitters</h1>
<ol class="list-group">
  <% @sitters.each do |sitter| %>
    <a href="<%= sitter_path(sitter) %>" class="text-decoration-none">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto d-flex align-items-center">
          <% if sitter.profile_image.attached? %>
            <%= image_tag sitter.profile_image, alt: sitter.name, class: 'img-thumbnail me-2', style: 'width: 50px; height: 50px;' %>
          <% else %>
            <%= image_tag 'no-image-profile.png', alt: sitter.name, class: 'img-thumbnail me-2', style: 'width: 50px; height: 50px;' %>
          <% end %>
            <div class="fw-bold m-2"><%= sitter.name %></div>
            <div class="star-rating"><p class="card-text"><span class="fa fa-star checked"></span> 4.5</p></div>
            <p class="m-2 list-description"><%= truncate(sitter.sitter_profile.description, length: 80, omission: '...') %></p>
        </div>
        <span>
          <span class="badge text-bg-primary rounded-pill"><%= "$ #{sitter.sitter_profile.rate}" %></span>
        </span>
      </li>
    </a>
  <% end %>
</ol>

