<h1 class="title"><%= @sitter.name %></h1>

<div class="profile-image mb-3">
  <% if @sitter.profile_image.attached? %>
    <%= image_tag @sitter.profile_image, class: "img-thumbnail" %>
  <% else %>
    <%= image_tag 'no-image-profile.png', size: "50x50", class: "img-thumbnail" %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sitter.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sitter.phone %>
</p>

<% if @sitter.sitter? %>
  <p>
    <strong>Description:</strong>
    <%= @sitter.sitter_profile.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@sitter.sitter_profile.rate) %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @sitter.location.latitude %>,
    <%= @sitter.location.longitude %>
  </p>
<% end %>

<%= link_to 'Send Message', edit_person_path, class: 'btn btn-primary' %>
