<h1 class="title"><%= @pet.name %></h1>

<div class="my-lg-3">
  <% if @pet.image.attached? %>  <!-- Use pet instead of @person -->
    <%= image_tag @pet.image, alt: @pet.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
  <% else %>
    <%= image_tag 'no-image-profile.png', alt: @pet.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
  <% end %>
</div>

<div class="my-lg-3">
  <p>
    <strong>Species:</strong>
    <%= @pet.specie.name if @pet.specie %>
  </p>
</div>

<div class="mb-3">
  <p>
    <strong>Description:</strong>
    <%= @pet.description if @pet.description %>
  </p>
</div>

<div class="mb-3">
  <p>
    <strong>Owner:</strong>
    <%= @pet.owner.name if @pet.owner %>
  </p>
</div>