<div class='section-wrapper'>
  <h1 class="title bigger-title">Hey <%= current_person.name %></h1>
  <p class="title-paragraph">Discover your ideal furry friends to care for nearby!</p>
</div>

<div class='section-wrapper'>
  <%= render 'pet_sitter/partials/pets_of_the_month/list' %>
</div>

<div class='section-wrapper'>
  <h1 class="title">Nearest Pets</h1>
  <div class="container">
    <div class="row centralized-row ">  <!-- Change "raw" to "row" -->
      <% @closest_pets.first(6).each do |pet| %>
        <div class="col-lg-2 col-md-4 col-sm-6">  <!-- Adjust column classes -->
          <a href="<%= pet_sitter_pet_path(pet) %>" class="text-decoration-none">
            <div class="card nearest-card">
              <% if pet.image.attached? %>  <!-- Use pet instead of @person -->
                <%= image_tag pet.image, alt: pet.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
              <% else %>
                <%= image_tag 'no-image-profile.png', alt: pet.name, class: 'card-img-top rounded-circle mx-auto', style: 'width: 100px; height: 100px;' %>
              <% end %>
              <div class="card-body text-center">
                <h5 class="card-title"><%= pet.name %></h5>
                <p class="card-text"><%= "#{number_with_precision(pet.distance, precision: 2)} KMs" %></p>
                <div class="star-rating">
                  <p class="card-text"><span class="fa fa-star checked"></span> 4.5</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='section-wrapper'>
  <h1 class="title">Explore All Pets</h1>
  <ol class="list-group">
    <% @closest_pets.each do |pet| %>
      <a href="<%= pet_sitter_pet_path(pet) %>" class="text-decoration-none">
        <li class="list-group-item d-flex justify-content-between align-items-start explore-all-list-item ">
          <div class='row'>
            <div class='col-sm-2'>
              <div class="me-auto d-flex align-items-center">
                <% if pet.image.attached? %>
                  <%= image_tag pet.image, alt: pet.name, class: 'rounded-circle mx-auto', style: 'width: 70px; height: 70px;' %>
                <% else %>
                  <%= image_tag 'no-image-profile.png', alt: pet.name, class: 'rounded-circle mx-auto', style: 'width: 70px; height: 70px;' %>
                <% end %>
              </div>
            </div>
            <div class='col-sm-1'>
                <div class="fw-bold m-2"><%= pet.name %></div>
                <p class="card-text"><%= "#{number_with_precision(pet.distance, precision: 2)} KMs" %></p>  
            </div>
            <div class='col-sm-2'>
              <div class="star-rating">
                <p class="card-text"><span class="fa fa-star checked"></span> 4.5</p>
              </div>
            </div>
            <div class='col-sm-6'>
              <p class="m-2 list-description"><%= truncate(pet.description, length: 80, omission: '...') %></p>
            </div>
            <div class='col-sm-1'>
              <span class="badge badge-pill badge-primary"><%= pet.specie.name %></span>
            </div>
        </li>
      </a>
    <% end %>
  </ol>
</div>