<div class="mt-lg-3">
  <h1 class="title">Sitter Services</h1>

  <ul class="list-group">
    <% @sitter_services.each do |service| %>
      <li class="list-group-item">
        <strong>Pet:</strong> <%= service.pet.name %><br>
        <strong>Start Date:</strong> <%= service.start_date.strftime("%B %d, %Y") %><br>
        <strong>End Date:</strong> <%= service.end_date.strftime("%B %d, %Y") %><br>
        <strong>Total Rate:</strong> <%= number_to_currency(service.total_rate) %><br>
        <strong>Sitter Name:</strong> <%= service.person.name %><br>

        <% if service.end_date < Date.today %>
          <%= link_to 'Add Review', sitter_path(service), class: 'btn btn-primary' %>
        <% else %>
          <span class="text-muted">You can’t add a review until the service has ended.</span>
        <% end %>
      </li>
    <% end %>

  </ul>
</div>

<% if @person.sitter %>
  <div class="mt-lg-5">
    <h1 class="title">Customers' services</h1>
    <ul class="list-group">
      <% @customer_services.each do |service| %>
        <li class="list-group-item">
          <strong>Pet:</strong> <%= service.pet.name %><br>
          <strong>Start Date:</strong> <%= service.start_date.strftime %><br>
          <strong>End Date:</strong> <%= service.end_date.strftime("%B %d, %Y") %><br>
          <strong>Total Rate:</strong> <%= number_to_currency(service.total_rate) %><br>
          <%= link_to 'Check profile', pet_sitter_owner_path(service), class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
