<h1>Sitter Services</h1>
<ul>
  <% @sitter_services.each do |service| %>
    <li>
      <strong>Pet:</strong> <%= service.pet.name %><br>
      <strong>Start Date:</strong> <%= service.start_date %><br>
      <strong>End Date:</strong> <%= service.end_date %><br>
      <strong>Total Rate:</strong> <%= number_to_currency(service.total_rate) %><br>
      <%= link_to 'Add Review',  sitter_path(service) %>
    </li>
  <% end %>
</ul>
