<h1 class="title">Edit Pet: <%= @pet.name %></h1>

<%= form_with(model: @pet, local: true, class: 'needs-validation', novalidate: true) do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
      <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :specie_id, "Species", class: 'form-label' %>
    <%= form.collection_select :specie_id, Specie.all, :id, :name, { selected: @pet.specie_id }, { class: 'form-select' } %>
  </div>

  <div class="mb-3">
    <% if @pet.image.attached? %>
      <div class="pet-image mb-3">
        <%= image_tag @pet.image, style: "width: 10em;" %>
      </div>
    <% else %>
      <%= image_tag 'no-image-profile.png', style: "width: 10em;", class: "profile-image" %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, rows: 4, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Update Pet", class: 'btn btn-primary' %>
    <%= link_to 'Back to My Pets', pets_path(current_person), class: 'btn btn-secondary' %>
  </div>
<% end %>
