<h1>Edit Pet: <%= @pet.name %></h1>

<%= form_with(model: [current_person, @pet], local: true) do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :specie_id, "Species" %>
    <%= form.collection_select :specie_id, Specie.all, :id, :name, selected: @pet.specie_id %>
  </div>

  <% if @pet.image.attached? %>
    <div class="pet-image">
      <%= image_tag @pet.image, style: "width: 10em;"%>
    </div>
  <% else %>
    <%= image_tag 'no-image-profile.png', style: "width: 10em;", class: "profile-image" %>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back to My Pets', person_pets_path(current_person) %>
