<div class="container text-center">
  <h1>My Pets</h1>
  <%= link_to 'Add a New Pet', new_pet_path, class: 'btn btn-primary mb-3' %>

  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-4 mb-4"> <!-- Adjust the column size based on your preference -->
        <div class="card">
          <div class="card-body">
            <% if pet.image.attached? %>
              <h2>Image:</h2>
              <div class="pet-image text-center">
                <%= image_tag pet.image, style: "width: 10em;" %>
              </div>
            <% else %>
              <%= image_tag 'no-image-profile.png', style: "width: 10em;", class: "profile-image" %>
            <% end %>
            <h5 class="card-title"><%= link_to pet.name, pet_path(pet) %></h5>
            <p class="card-text">Species: <%= pet.specie.name if pet.specie %></p>
            <div class="d-flex justify-content-between">
              <%= link_to 'Edit', edit_pet_path(pet), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', pet_path(pet), class: 'btn btn-danger btn-sm', data: { turbo_method: "delete" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
